<div class="container">
  <div class="editor">
    <h3>Editor</h3>
    <form [formGroup]="form">
      <quill-editor
        formControlName="editorContent"
        trackChanges="all"
        [modules]="modules"
        (onEditorChanged)="changedEditor($event)"
        (onEditorCreated)="created($event)"
      ></quill-editor>
    </form>
  </div>
  <div class="display">
    <h3>AngularInnerView</h3>
    <div class="innerView">
      <div class="ql-container ql-snow" style="border-width: 0">
        <div class="ql-editor" [innerHTML]="editorContentControl.value"></div>
      </div>
    </div>
    <h3>QuillView</h3>
    <div class="view">
      <quill-view
        class="note-content"
        style="border-width: 0"
        [content]="editorContentControl.value"
        format="html"
      >
        <input
          type="file"
          accept="image/png, image/jpeg"
          (input)="uploadAndInsertImage($event)"
          #imageInput
      /></quill-view>
    </div>
  </div>
</div>
