.container {
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.editor {
  max-height: 400px;
}
.innerView {
  border: 1px solid #e0e0e0;
  max-height: 400px;
  margin-bottom: 40px;
}
.view {
  border: 1px solid #e0e0e0;
  max-height: 400px;
}
